<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application.css' %>
    <title>Transaction</title>
</head>
<body>
    <% @budgets.each do |item| %>
         <div class="d-flex flex-column text-center bg-white p-1 m-1">
            <div class="justify-content-center border border-gray">
                <p class="text-secondary"><%= item.name %></p>
                <p class="fw-bold">$<%= item.amount %></p>
                <p class="text-secondary"><%= item.created_at.to_date %></p>
            </div>
         </div>
    <% end %>
     <div class="d-flex flex-column fixed-bottom text-center bg-success w-100 p-3">
        <h2>
            <%= link_to 'Add New Transaction', new_user_group_budget_path %>
        </h2>
    </div>
     
</body>
</html>